* {
  box-sizing: border-box;
}

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  border: none;
  font-family: sans-serif;
}
.page {
  margin: 0;
  padding: 0x;
  height: 100vh;
}

.page-inner {
  max-width: 960px;
  margin: auto;
}

.text-added {
  height: 200px;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 20px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(229, 229, 27);
}
.list-items {
  display: flex;
}
.text {
  height: 20px;
}
.darkmode {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
.lightmode {
  background-color: #fafafa;
  color: white;
  margin: 0;
  padding: 0;
}

.button {
  background: #000;
  border-radius: 4px;
  border: 0;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}

.darkmode .button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.darkmode .title {
  color: white;
}
